@import url(http://fonts.googleapis.com/css?family=Open+Sans|Rokkitt|Overlock|Lato|Open+Sans+Condensed:300,400|Oswald:300,400);

/*Notes

Determine if flexbox is necessary
Make list stack under input (image disappears) on phone screen
*/

/*--------Beginning of Site CSS---------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  width:100%;
  margin: 0;
  font-family: Lato, Arial, sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  background-color: #99B2B7;
  background-image: url(../images/black-linen.png);
}

h1, h2, h3 {
  font-family: Rokkitt, sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clear:after {
  clear:both;
}
/* ----------------Banner area--------------- */

.banner {
  text-transform: uppercase;
  color: #D9CEB2;
  padding: 15px;
  background: #7A6A53;

}

.banner h1 {
  color: #D5DED9;
  font-family: Rokkitt, arial, sans-serif;
  margin: 0;
  text-align: left;
  text-shadow: 0px 2px 3px #000;
}

.banner .heading {
  width: 74%;
  min-width: 475px;
  height: auto;
  float: left;
}

.banner .nav {
  width: 25%;
  min-width: 100px;
  float:left;
  text-align: right;
}

.banner .nav li {
  display: inline;
  padding: 10px;
}

.banner .nav li:hover {
  color: #D5DED9;
}

/* ----------------Main Area--------------- */

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
          -webkit-box-pack: center;
   -webkit-justify-content: center;
             -ms-flex-pack: center;
           justify-content: center;
   -webkit-flex-wrap: wrap;
       -ms-flex-wrap: wrap;
           flex-wrap: wrap;
  text-align: center;
  height: auto;
  padding: 15px 25px;
  min-width: 0;
  min-height: 0;
  }

.group {
  /display: block;
  width: 48%;
  min-width: 410px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: #D9CEB2;
  overflow: hidden;
  -webkit-flex: 1 1 410px;
}

.group h2 {
  background: #948C75;
  color: #D5DED9;
  padding: 10px 0;
  margin-bottom: 10px;
  text-shadow: 0px 2px 3px #000;
}

.innerform {
  min-width: 390px;
  padding: 0 15px;
  margin: 0 auto;
}

.formfield {
  width: 100%;
  clear: both;
  display: block;
  padding: 0 5px;
  margin: 0 auto;
  height: 26px;
  vertical-align: middle;
  overflow: hidden;
  text-align: left;
}


label {
  display:inline-block;
  float: left;
  width: 300px;
  text-align: right;
  vertical-align: middle;
  color: #7A6A53
}
input, output {
  width: 50px;
  padding: 0 5px;
  text-align: left;
  background-color: white;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  border: none;
  border-radius: 3px;
  vertical-align: bottom;
  -webkit-appearance: none;
  appearance: none;
  color: #7A6A53;
}

output {
  background: #D5DED9;
}

.calcs .innerform input, .calcs .innerform output {
  float: left;
  margin-left: 20px;
  }


.projectdetails {
  min-width: 410px;
  width: 98%;
}
.projectdetails .formfield {
  display: inline-block;
  margin: none;
  min-height: 64px;
  padding: 0;
  border: none;
}

.projectdetails .formfield input {

  height: 36px;
}

.projectdetails .formfield label{
  text-align: left;
  width: 100%;
  margin: 2px 0;
}

.projectdetails textarea {
  border-radius: 5px;
  border: none;
}
.innerform  .large {
  width: 69%;
}

.innerform .large input {
    width: 100%;
  }

.innerform .small {
  width: 19%;
}
.innerform .small input {
  width: 100%;
}

.innerform .medium{
  width: 44%;
}
.innerform .medium input{
  width: 100%;
}
.innerform  .exlarge {
  width: 88%;
  height: 150px;
}

.innerform .exlarge textarea {
  width: 100%;
  }
/* ----------------Other Sections--------------- */


.bottom {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  text-align: center;
  height: auto;
  padding: 0 25px;
  margin: 0 auto;
  color: #D9CEB2;
  overflow: hidden;
  }

.bottom section {
  display: block;
  min-width: 410px;
  margin: 10px 0;
  float: left;
  background-color: #948C75;
  border-radius: 5px;
 padding: 15px 25px;
  text-align: left;
  font-size: 1.6rem;
  line-height:  normal;

}
.bottom #help {
  width: 98%;
}

.bottom #about, .bottom #feedback {
  width: 48%;
  margin-left: 10px;
  -webkit-flex: 1 1 410px;
  }

.bottom h2 {
  color: #D5DED9;
  text-shadow: 0px 2px 3px #000;
  text-align: left;
}

#feedback form {
  margin-top: 10px;
}

#feedback {
  font-size: 1rem;
}
  #feedback .field {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
  font-size: inherit;
  }

#feedback .name input, #feedback .email input{
  float: left;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  height: 42px;
  font-size: inherit;
  border-radius: 3px;
}

  #feedback textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: inherit;
    border-radius: 3px;
    color: gray;
  }

  #feedback .success {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #468847;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
  }

  #feedback .error {
    padding: 1em;
    margin-bottom: 0.75rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid rgba(185, 74, 72, 0.3);
    border-radius: 4px;
  }

.backtotop {
  position: absolute;
  right: 10px;
  bottom: 10px;
}


/* ----------------Buttons--------------- */
.controls button {
  box-shadow:none;
  background-color:#99B2B7;
  border-radius:5px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color: #7A6A53;
  color:#ffffff;
  padding: 1rem;
  margin: 10px;
  text-decoration:none;
}
.controls button:hover {
  background-color:#948C75;
}
.controls button:active {
  position:relative;
  top:1px;
}

#back_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
 
#back_to_top a {
    display: block;
    color: #FFF;
    width: 100px;
    padding: 10px;
    background-color: rgba(0,0,0,0.4);
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    opacity: 50%;

}
 
#back_to_top a:hover {
    background-color: #333;
}


/* ----------------Media Queries--------------- */
@media (max-width: 800px) {

  .group {
    float: right;
  }
  .banner .nav {
    width: 120px;
    float: right;
  }
  .banner .nav li {
    display: block;
    text-align: right;
  }
}

@media (max-width: 640px) {
.banner {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  }

  .banner .heading {
  width: 100%;
  min-width: 400px;
  text-align: center;
}

.banner .heading h1, .banner .heading p {
  text-align: center;
}

.banner .heading h1 {
  font-size: 3rem;
}
.banner .nav {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.banner .nav li{
    display: inline;
  }
  .main {

}
.main img {
display: none;
}

.projectdetails .formfield {
  width: 100%;
}
.projectdetails .formfield input{
  width: 100%;
}
}

@media print {

  @page {
    size: letter;
  }
  body {
    font-size: 10pt;
    background: white;
    }

    .banner .nav, .banner .heading p, .bottom, .controls {
    display: none;
  }

  .banner .heading h1 {
    font-size: 16pt;
  }

.main {
    width: auto;
    margin: 2%;
    padding: 0;
    border: 0;
  }
  .group {
    display: inline-block;
    width: 45%;
    min-width: 0pt;
    max-width: 250pt;
    margin: 0;
    border: 1px solid black;
    float: left;
  }

  .innerform {
  width: 100%;
  min-width: 0pt;
  padding: 0;
  margin: 0 auto;
  font-size: inherit;
}

.formfield {
  width: 100%;
  height: 14pt;
  min-width: 0;
  font-size: inherit;
}

label {
  width: 210px;
  font-size: inherit;
  padding: 0 10px;
}
input, output {
  width: 30px;
  font-size: inherit !important;
  padding: 0px 5px;
  margin-top: -5px;
}

  .group h2 {
    font-size: 16pt;
  }

  .group input, .group output {
    font-size: inherit;
    line-height: 12pt;
  }

  .projectdetails {
    width: 100%;
    min-width: 500pt;
  }
  .projectdetails .formfield {
    min-height: 20pt;
    display: inline-block;
  }
  .projectdetails .formfield input{
    min-height: 16pt;
    font-size: 12pt;
  }
}


