@import url(http://fonts.googleapis.com/css?family=Open+Sans|Rokkitt|Overlock|Lato|Lobster|Oswald:300,400);

/*Notes

Determine if flexbox is necessary
Make list stack under input (image disappears) on phone screen
*/

/*--------Beginning of Site CSS---------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  width:100%;
  margin: 0;
  /padding:2%;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  font-size:1rem;
  background-color: #99B2B7;
  background-image: url(../images/black-linen.png);
}

h1 {
  text-align: center;
  color: #fff;
  /padding: 10px 0;
  font-size: 3rem;
  /line-height: 3.5rem;
 }

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  }
h3 {
  background: #6498A4;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 2rem;

}

/* ----------------Banner area--------------- */

.banner {
  /height: 120px;
  /margin: 10px;
  /float: left;
  /width: 40%;
  /margin-bottom: 10px;
  padding: 15px;
  /text-align: center;
  /color: #B8489C;
  background: #7A6A53;
  /border-radius: 10px;
}

.banner h1 {
  color: #D5DED9;
  font-family: Rokkitt, arial, sans-serif;
  font-size: 4em;
  margin: 0;
  text-align: left;
  text-shadow: 0px 2px 3px #000;
}

.banner p {
  font-size: 1.3em;
  font-family: Oswald, sans-serif;
  /text-align: center;
  text-transform: uppercase;
  color: #D9CEB2;
}

/* ----------------Main Area--------------- */

.main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
   -webkit-flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
  height: auto;
  padding: 15px 25px;
  margin: 0 auto;
  }

.group {
  display: inline-block;
  width: 48%;
  min-width: 475px;
  margin: 10px 0;
  /padding: 15px;
  border-radius: 5px;
  background: #D9CEB2;
  overflow: hidden;
  float:left;
}

.group:before, .group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.group:after {
  clear:both;
}

.group h3 {
  background: #948C75;
  text-align: center;
  /text-transform: uppercase;
  font-family: Rokkitt, sans-serif;
  color: #D5DED9;
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 3rem;
  /line-height: 3.6rem;
  text-shadow: 0px 2px 3px #000;
}

.innerform {
  padding: 0 15px;
}

.formfield {
  clear: both;
  display: block;
  padding: 0 15px;
  margin-top: 5px;
  height: 28px;
  vertical-align: middle;
  border-radius: 5px;
  overflow: hidden;
}


label {
  display:inline-block;
  float: left;
  width: 300px;
  font-size: 1rem;
  /font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin: 8px auto;
  vertical-align: middle;
}
input, output {
  font-size: 1rem;
  height: 24px;
  width: 100px;
  line-height: 1.4rem;
  margin: 2px auto; 
  list-style: none;
  padding: 5px;
  text-align: left;
  /font-family: 'Open Sans', sans-serif;
  background-color: white;
  transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  border-radius: 5px;
  /box-shadow: 0 1px rgba(34,25,25,0.2) inset, 0 1px #fff;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  color: gray;
}

input:focus, textarea:focus {
  border-bottom: solid 2px #969696;
}

output {
  background: #dcdcdc;
}

.calc {
  background: white;
}

.calcs .innerform input, .calcs .innerform output {
  float: right;
  }

.projectdetails .innerform{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
   -webkit-flex-flow: row wrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}


.projectdetails {
  min-width: 475;
  width: 98%;
}
.projectdetails .formfield {
  /float:left;
  display: block;
  min-height: 56px;
  padding: 0;
}

.projectdetails .formfield label{
  margin: 2px;
}

.innerform  .large {
  width: 380px;
}

.innerform .large input {
    width: 360px;
  }

.innerform .small {
  width: 120px;
}
.innerform .small input {
  width: 100px;
}

.innerform .medium{
  width: 240px;
}
.innerform .medium input{
  width: 220px;
}
.innerform  .exlarge {
  width: 90%;
  height: 140px;
}

.innerform .exlarge textarea {
  /height: 130px;
  }

/* ----------------Buttons--------------- */
.controls button {
  box-shadow:none;
  /background:linear-gradient(to bottom, #99B2B7 5%, #D5DED9 100%);
  /filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#99B2B7', endColorstr='#D5DED9',GradientType=0);
  background-color:#99B2B7;
  border-radius:5px;
  /border:1px solid #99B2B7;
  border: none;
  display:inline-block;
  cursor:pointer;
  color: #7A6A53;
  color:#ffffff;
  /font-family:Arial;
  font-size:1.2rem;
  /font-weight:bold;
  padding:16px 24px;
  margin: 15px;
  text-decoration:none;
  /text-shadow:0px 1px 0px #948C75;
}
.controls button:hover {
  /background:linear-gradient(to bottom, #D5DED9 5%, #99B2B7 100%);
  /filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D5DED9', endColorstr='#99B2B7',GradientType=0);
  background-color:#948C75;
}
.controls button:active {
  position:relative;
  top:1px;
}

/* ----------------Media Queries--------------- */
@media (max-width: 640px) {
.main {

}
.main img {
display: none;
}
}


